<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201811649952-165mqjbus0uoeu4c52j2ustob579b4ta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201811649952-165mqjbus0uoeu4c52j2ustob579b4ta</string>
	<key>API_KEY</key>
	<string>AIzaSyAT4RcBV1Z9jgCcRtZmKe8cVj7VT_6aK4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>201811649952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TrueIncrease.TriggerHappy</string>
	<key>PROJECT_ID</key>
	<string>triggerhappy-a7406</string>
	<key>STORAGE_BUCKET</key>
	<string>triggerhappy-a7406.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201811649952:ios:a96de5ac3af72ae38c70c5</string>
</dict>
</plist>